*{
    margin: 20px
}

nav {
    height:100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.nav-container{
    display: flex;
    flex-direction: row;
    
}

.navbar-image {
    width: 160px;
    justify-content: flex-end;
    align-items: left;

}

.searchbar {
    background: white;
    padding-right: 20px;
    flex: 1;
}
.searchbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
} 
.searchbar input {
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    border: none;
    width: 100%;
}
  
.searchbar input:focus {
    outline: none;
}
  
.searchbar-btn button {
    background-color: #363636;
    border: none;
    border-radius: 10px;
    height: 100%;
    color: white;
    padding: 10px 12px;
    margin-left: 20px;
}

.pokedex-grid {
    display: grid;
    grid-auto-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 0px 10px;
}

.pokemon-card {
    display: flex;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 10px;
}

.pokemon-img-container {
    padding: 0px 5px;

}
.pokemon-img {
    width: 70px;
    height: 80px;
    padding: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.card-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card-top h3 {
    text-transform: capitalize;
}